<body>
    <div class="container">
        <div class="header-MMC">
            <div class="row">
                 <div class="col-sm-6">
                    <h1>Portfolio of Marie Chirico</h1>
                    <br>
                    <div class="social-buttons">
                    <a href="https://twitter.com/freudo10_?ref_src=twsrc%5Etfw" target="_blank" title="Twitter - freudo10_">
                        <button class="btn btn-primary">Twitter</button></a>

                    <a href="https://github.com/mariechirico" target="_blank" title="GitHub - Marie Chirico">
                    <button class="btn btn-primary">GitHub</button></a>

                    <a href="https://www.flickr.com/photos/mchirico/" target="_blank" title="Flickr - Marie Chirico">
                        <button class="btn btn-primary">Flickr</button></a>
                    </div>
                    <br>
                    <h4>Experienced in Software since 2017. Learning Front-End Development.</h4> 
                </div>
            
                <div class="col-sm-6">
                    <img src="https://i.imgur.com/o4FyEPG.jpg" class="img-rounded head-image" alt="Marie Chirico headshot"/>
                </div>
            </div>
            
        </div>
    </div>
</body>
