@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,600&display=swap');

body{
    background-image: url("https://i.imgur.com/hmRwyH3.jpg");
    font-family: 'Raleway', sans-serif;
}
.center-info{
    background-color: #eee;
    opacity: 0.9;
    padding: 2%;
}
@keyframes show-list{
    0% { opacity: 0;}
    25% { opacity: 0.25;}
    75% { opacity: 0.75;}
    100% { opacity: 1.0;}
}
#hide-at-first{
    display: none;
    animation-name: show-list;
    animation-duration: 3s;
}

